/* navbar */
.nav-bar {
  align-items: center;
  background-color: var(--light-blue);
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar-item {
  color: var(--black);
  font: 0.75rem Barlow, sans-serif;
  letter-spacing: 2px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-bar-item:hover {
  color: var(--blue);
}

.nav-bar-divider {
  border-right: 2px solid var(--blue);
}
