.main-content {
  margin: 50px 20px;
  margin: 60px auto 0;
  max-width: 600px;

  @media (min-width: 600px) {
    max-width: 900px;
  }
}

.title {
  color: $navy;
  text-align: center;
}

.highlight {
  color: $blue;
}

.introduction {
  font-size: 12px;
  line-height: 1rem;
  margin: 10px 0;
}
